geographiclib
tqdm
shapely
pyproj
pandas
swifter
requests
sentinelhub
folium
geopandas
plotnine
numpy
pytorch-lightning
wandb
torchvision
setuptools
natsort
rasterio
kornia
lightning-bolts
eo-learn
pytorch-msssim
global_land_mask
opencv-python==4.5.5.64
